@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  /* background-color: rgba(0, 0, 0, 1); */
  font-family: 'Montserrat', sans-serif;
  background-image: url(images/Stars-Body.svg);
  background-color: black;
  background-size: contain;
  background-position: center;
  position: relative;

  background-repeat: no-repeat;
  overflow: hidden;
}


ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Montserrat';
  gap: 60px;
  right: 200px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  list-style-type: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

/* largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}

/* cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

/* arredondamento das bordas da barra de rolagem */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
}

.box__data,
.box__data1,
.box__data2,
.box__data3 {
  visibility: hidden;
}

#moon__float {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.moon__float {
  animation: float 3s infinite;
  transform-style: preserve-3d;

}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}



/* Barra de tarefas (Pai) */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: none;
}

.navigation {
  width: 100%;
}

.navigation .navigation__link {
  font-size: 15px;
}

.navbar__buttons {
  display: flex;
  position: relative;
  height: 114px;
  gap: 24px;
  font-weight: 700;
  width: 49%;
  left: 10%;
  align-items: center;
}

.button {
  display: flex;
  width: 155px;
  font-size: 13px;
  border: none;
  color: #01C3CF;
  text-align: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 55px;

}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(8, 77, 126, 0.42) 100%), rgba(47, 255, 255, .24);
  box-shadow: inset 2px 0px 10px 0px rgba(151, 200, 255, .44);
  z-index: -1;
  border: 1px solid #04869F;

}

.button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(8, 77, 126, 0.42) 100%), rgba(47, 255, 255, .24);
  box-shadow: inset 4px 4px 0px rgba(151, 200, 255, .44);
  border-radius: .5rem;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in;
}

.button:hover::after {
  opacity: 1;
}

.button-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  z-index: -1;
}

.button-border::before {
  content: "";
  position: absolute;
  border-radius: .5rem;
  padding: 1px;
  background: linear-gradient(180deg, rgba(184, 238, 255, 0.24) 0%, rgba(184, 238, 255, 0) 100%), linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
  mask: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  pointer-events: none;
}


.button__login {
  width: 115px;
  display: flex;
  font-size: 15px;
  color: #01C3CF;
  text-align: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 55px;

}

.button__login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px 0px rgba(151, 200, 255, .44);
  z-index: -1;
  border: 1px solid #04869F;

}

.button__login::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(8, 77, 126, 0.42) 100%), rgba(47, 255, 255, .24);
  box-shadow: inset 4px 4px 0px rgba(151, 200, 255, .44);
  border-radius: 1rem;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in;
}

.button__login:hover::after {
  opacity: 1;
}

.button-border-lg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  z-index: -1;
}

.button-border-lg::before {
  content: "";
  position: absolute;
  border-radius: .5rem;
  padding: 1px;
  background: linear-gradient(180deg, rgba(184, 238, 255, 0.24) 0%, rgba(184, 238, 255, 0) 100%), linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
  mask: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  pointer-events: none;
}

/* Titulo e parágrafo  */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  margin: 0 auto;
  /* height: 200px; */
}

.header .subline__title {
  height: 175px;
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}


.line__center .par__txt {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.5px;
  height: 140px;
  position: relative;
  padding: 2%;
}

.stars {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.stars.star__one {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.service {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  width: 100%;

}


.container {
  display: flex;
  position: relative;
  width: 69, 875rem;
  height: 37, 9375rem;
  background-color: #1A1B23;
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}

.container__title {
  background: linear-gradient(120deg, #18C8FF 40.64%, #933FFE 57.93%);
  font-family: 'Montserrat';
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
  margin: 37px 0 10px 0;
}

.container__item {
  display: grid;
  grid-template-columns: 50%;

  position: relative;


}

.item__list {
  flex-direction: column;
  align-items: start;
  gap: 17px;

  margin: 35px;


}

.container__box {
  background: transparent;
  /* box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 30px 0px rgba(253, 238, 238, 0.05) inset; */
  border-image: linear-gradient(#484848, #FFFFFF, #FFFFFF, 100);
  border-radius: 10px;
  border: 1px solid;


  padding: 44px 16px 44px 16px;
}

.title__box {
  color: #FFF;
  margin-top: -25px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: block;




}

.text__info {
  color: rgba(255, 255, 255, 0.50);

  font-family: 'Montserrat';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  padding-top: 15px;
}

.container__pc {
  display: flex;
}

.blur__grid {
  display: grid;
  position: absolute;
  right: -455px;
  top: -363px;
}

.not__grid {
  display: grid;
  position: absolute;
  right: 94px;
  top: -15px;

  transform: rotate(4deg);
}

.dash__pc {
  width: 109%;
  height: 100%;
}

.button__container {
  display: flex;
}

.btn__contact {
  margin-top: 0%;
  padding: 0px 62px 0px 63px;
  align-items: center;
  border-radius: 40px;
  border-image: 1px solid var(rgba(255, 255, 255, 0.47));
  background: linear-gradient(55deg,
      #18C8FF 3.58%,
      #AF2DDA 71.16%,
      #933FFE 183.06%);
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 500;
  height: 54px;

  cursor: pointer;
  margin: 30px;
  border: none;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover {
  display: inline-flex;
  width: 280px;
  text-align: center;
  justify-content: center;
  position: absolute;
  align-items: center;

  font-family: 'Montserrat';
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin-left: -90px;
  margin-top: -13px;
  height: 45px;
  border: none;
  background-size: 150% 130%;
  border-radius: 25px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(to right,
      #18C8FF 3.58%,
      #AF2DDA 71.16%,
      #933FFE 183.06%);

  ;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.title__medium {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.txt__med {
  height: 25vh;
  font-family: 'Montserrat';
  margin-top: 58vh;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.34px;

  background: linear-gradient(93deg, #FFF -0.55%, #292B38 132.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.blurs__web {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__blurs {
  display: grid;
  position: relative;
  justify-items: center;
  justify-content: center;
  align-items: center;
  top: 538px;
}

#circle__blurP {
  position: absolute;
  width: 1264px;
  height: 794px;
  filter: blur(175px);
  margin-left: 268px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0.00) 0%, #FF29C3 100%);
}

#circle__blurB {
  position: absolute;
  width: 1590px;
  height: 921px;
  border-radius: 231px;
  filter: blur(175px);
  margin-left: -33px;



  background: linear-gradient(180deg, rgba(0, 194, 255, 0.00) 0%, rgba(23, 200, 255, 0.94) 93.75%, #FF29C3 100%);
}

.container__sun {
  display: grid;
  position: absolute;
  margin-top: -1186px;
  margin-left: 1260px;
  align-items: center;
  justify-items: center;
}

#sun__orange {
  position: relative;
  width: 111.981px;
  height: 111.942px;
  transform: rotate(-60.004deg);
  border-radius: 50%;

  background-image: linear-gradient(113deg, rgba(243, 221, 22, 1), rgba(189, 57, 28, 1));
  box-shadow: -35.036px -50.051px 100.102px 0px rgba(225, 60, 60, 0.76) inset, -5.005px -5.005px 20.02px 0px #511 inset, 0px 20.02px 20.02px 0px rgba(255, 253, 194, 0.25) inset, -40px -20px 40px 0px rgba(0, 0, 0, 0.25) inset;
}

#blur__orange {
  width: 334.975px;
  height: 312px;
  filter: blur(135px);
  position: absolute;

  background: linear-gradient(rgba(255, 79, 24, 0), rgba(255, 127, 4, 57));
}

.container__water {
  display: grid;
  position: absolute;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: -160px;
  grid-template-columns: 50% 50%;
  grid-gap: 715px;
}

#blur__carrosselL {
  width: 380.366px;
  height: 500.247px;
  position: relative;
  filter: blur(127px);

  background: linear-gradient(180deg, rgba(24, 255, 158, 0.00) 0%, #17FFE3 100%);
}

#blur__carrosselR {
  width: 380.366px;
  height: 500.247px;
  position: relative;
  filter: blur(127px);

  background: linear-gradient(180deg, rgba(24, 255, 158, 0.00) 0%, #17FFE3 100%);
}

.carrossel__icons {
  display: flex;
  flex-direction: row;
  width: 1336px;
  height: 270px;
  background-color: #1A1B23;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.border__container {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  width: 1200px;
  height: 170px;
  padding-top: 4vh;
}

/* @media screen and (max-width: 100px){
    
} */
.swiper__carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper {
  display: grid;
  width: 1336px;
  height: 270px;
  background-color: #1A1B23;
  border-radius: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  padding-top: 100px;
  flex-direction: row;
  /* padding-top: 12vh; */
}

.icons__fmk {
  width: 150px;
  height: 25%;
  padding: 0 20px;
}

/* .dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
} */
.container__pCel {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container__pc {
  display: grid;
  position: relative;
  margin-left: 2px;
  top: 190px;
  grid-template-columns: 35% 33%;

}

.spect__cel {
  position: relative;
  top: 197px;
}

.background__for {
  display: grid;
  position: absolute;
  align-items: center;
  margin-top: 80px;
  margin-left: 160px;
}

#blur__blue {
  position: absolute;
  width: 989px;
  height: 860px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0.00) 0%, #174AFF 100%);
  filter: blur(100px);
  right: -61px;
}

#blur__white {
  position: absolute;
  width: 121px;
  height: 420px;
  left: -37px;
  filter: blur(90px);
  top: 33px;
  transform: rotate(338deg);
  background: linear-gradient(95deg, rgba(24, 75, 255, 0.00) 0%, #FFF 100%);
  overflow: hidden;
  white-space: nowrap;
  animation: sanfona 1.5s infinite alternate;
}

@keyframes sanfona {
  0% {
    width: 100px;
  }

  100% {
    width: 150px;
  }
}





#blur__rose {
  position: absolute;
  width: 349.764px;
  height: 385.938px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) top right / 50% 50% no-repeat;
  filter: blur(150px);
  left: -337px;
  top: -20px;
  transform: rotate(327deg);

}

#blur__violet {
  position: absolute;
  width: 315px;
  height: 291px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0.00) 0%, #174AFF 100%);
  filter: blur(80px);
  top: 227px;
  left: -76px;

}

#blur__pink {
  position: absolute;
  width: 186.803px;
  height: 176.099px;
  filter: blur(175px);
  background: linear-gradient(to bottom right, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 194, 255, 0.00) 0%, #FF29C3 50%) top right / 50% 50% no-repeat;
  left: 800px;
}


.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 290px
}

.container__dp {
  height: 827px;
  width: 1067px;
  position: relative;

  background-image: radial-gradient(circle at -70% 320%, #18FFFF 0%, #1A1B23 82%);
  filter: drop-shadow(15px 15px 40px rgba(24, 255, 255, 0.6));
  text-align: center;
  border-radius: 24px;

}

.info_-title {

  text-align: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-top: 60px;

  background: linear-gradient(120deg, #18C8FF 41.64%, #933FFE 62.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line__inf {
  height: 1px;
  width: 76%;
  border: 0;

  background-image: linear-gradient(to right, rgba(24, 200, 255, 1), rgba(147, 84, 254, 1));
}

.line__inf2 {
  border: 0;
  height: 1px;
  width: 899px;
  background-image: linear-gradient(to right, rgba(24, 200, 255, 1), rgba(147, 84, 254, 1));
  margin: 48px;
  margin-left: 80px;
}

.ask__inf {
  display: flex;
  justify-content: center;
  color: #FFF;

  font-family: 'Montserrat';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-top: 60px;
}

.containers__data {
  align-items: center;
  display: grid;
  position: relative;
  margin: 9%;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 13px;
  width: 860px;

}

#first__name {
  width: 430px;
  height: 55px;
  border: 1px solid #FFF;
  border-radius: 25px 5px 3px 0px;
  justify-content: start;
  align-items: center;


}

#sec__name {
  border-radius: 0px 27px 0px 3px;
  border: 1px solid #FFF;
  height: 55px;
  width: 430px;
  left: -15px;
  justify-content: start;
  align-items: center;


}

#data__user {
  width: 430px;
  height: 55px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #FFF;
  word-wrap: break-word;


  background-color: transparent;
}

#subject__user {
  width: 874px;
  height: 55px;
  border: 1px solid #FFF;
  border-radius: 0px 2px 27px 27px;
  background-color: transparent;
}

#msg__user {
  width: 873px;
  height: 166px;
  position: absolute;
  border-radius: 30px;
  margin-left: -6px;
  margin-top: 450px;
  padding: 20px 1px 4px 13px;

  background-color: transparent;
  border: 1px solid #FFF;
}

.input__form {
  background-color: transparent;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* Removendo Opção de Manipulação do Box */
  resize: none;
}

textarea::placeholder {
  font-style: normal;
  color: #FFF;

  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

input::placeholder {
  font-style: normal;
  color: #FFF;

  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

input {
  color: #FFFF;
  padding: 10px;
  background-color: #1A1B23;
}

.button__send {
  display: flex;
  justify-content: center;
  margin-left: -50px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1A1B23 inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.retangle__data {
  width: 1200px;
  height: 900px;
  background-color: #AF2DDA;
  border-radius: 20%;
}


.footer__web {
  display: flex;
  justify-content: center;
  margin-top: 53rem;

}

.container__svg {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  gap: 29px;
  position: relative;
  left: 850px;
}

.icon__social {
  max-width: 20px;
  transition: all 0.3s;
}

.icon__social:hover {
  transform: scale(1.2);
}

.line__white {
  margin-top: 65px;
  border: 0;
  position: absolute;
  height: 2px;
  width: 92%;
  right: 5%;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)85%);
}

.container__logo {
  display: grid;
  position: relative;
  margin-top: 82px;
  align-items: center;
  right: 20%;

  grid-gap: 23px;
  grid-template-columns: 14% 65% 12% 17% 11%;
}

.logotype__header {
  width: 120%;
}

.copy__auth {
  color: #FFF;

  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  opacity: 0.5;
}

.terms__grid {
  color: #FFF;

  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.5;
  text-decoration: none;
}

.test__href {
  color: #FFFFFF;
}

.boxer__blur {
  display: grid;
  position: absolute;
  width: 110%;
  height: 500px;
  margin-top: -208px;

}

#blur__footer {
  filter: blur(31px);

  background: linear-gradient(180deg, rgba(24, 75, 255, 0.00) 0%, rgba(23, 74, 255, 0.60) 100%);
}

.logotype__web {
  width: 90%;
}

/* Responsividade a baixo */
@media screen and (max-width: 1100px) {

  /* COntainer formulario */
  .container__dp {
    width: 45rem;
    height: 480.84px;

  }

  .info_-title {
    font-size: 13px;
    margin-top: 28px;
  }

  .line__inf2 {
    display: inline-flex;
    width: 80%;
    height: 0.5px;
    transform: rotate(179.995deg);
    margin: 0;
  }

  .ask__inf {
    font-size: 15px;
    margin-top: 35px;
  }

  .containers__data {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 130%;
    grid-template-columns: 30% 30%;
    column-gap: 1.5%;
    margin-top: 5%;
    margin-left: -16%;

  }

  #first__name {
    width: 100%;
    height: 31.723px;
    border: 0.4px solid #ffffff;
    border-radius: 25px 0px 3px 0px;

  }

  #sec__name {
    width: 100%;
    height: 31.723px;
    border-radius: 0px 27px 0px 3px;
    border: 0.5px solid #FFF;
    background: rgba(0, 0, 0, 0.00);

  }

  #data__user {
    width: 100%;
    height: 31.723px;
    border-radius: 0px 3px 3px 0px;
    border: 0.5px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
  }

  #subject__user {
    width: 205%;
    height: 34.191px;
    border-radius: 0px 2px 27px 27px;
    border: 0.5px solid #FFF;
  }

  #msg__user {
    position: absolute;
    left: 20%;
    top: -240%;
    justify-content: center;
    width: 62%;
    height: 123.266px;
    border-radius: 30px;
    border: 0.5px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
  }

  .input__form {
    background-color: transparent;
    color: #FFF;
    font-size: 10px;
  }

  input::placeholder {

    font-size: 9px;
    font-weight: 400;
  }

  textarea::placeholder {
    font-size: 9px;
    font-weight: 400;
  }

  .navigation__link {
    font-size: 12px !important;
  }
  .button__login{
    width: 90px;
    height: 45px;
  }
  .button{
    width: 150px;
    height: 40px;
  }
}

/* footer */

@media screen and (max-width: 900px) {

  /* Computer & Smartphone */
  .spect__pc {
    width: 274%;
  }

  .spect__cel {
    width: 168%;
    margin: 65px;
    top: 0%;
  }

  #blur__blue {
    width: 325px;
    height: 168px;
    top: 1px;

  }

  #blur__violet {
    width: 154px;
    height: 99px;
    filter: blur(80px);
    top: 32px;
    left: -174px;

  }

  #blur__rose {
    width: 187.764px;
    height: 208.938px;
    filter: blur(150px);
    left: -200px;
    transform: rotate(327deg)
  }

  #blur__white {
    width: 197px;
    height: 56px;
    filter: blur(44px);
    left: -106px;
    top: 99px;
    transform: none;
  }
}

@media screen and (max-width: 1000px) {
  .line__white {
    left: 5%;
  }

  .icon__social {
    max-width: 20px;
  }

  .container__svg {
    left: 30%;
    gap: 25px;
    top: 26px;
  }


  .container__logo {
    text-align: center;
    grid-template-columns: 215px;
    grid-gap: 8px;
    top: -25px;
    left: -96px;
  }

  .logotype__header {
    width: 80%;
    position: relative;
    left: 8%;
  }

  .copy__auth {
    font-size: 8px;
    position: relative;
    top: 87px;


  }

  .terms__grid {
    font-size: 10px;
  }

  #blur__footer {
    height: 103%;
    margin-top: -80px;
  }

  .container {
    width: 89%;
    margin-top: -2%;
  }

  .logotype__web {
    width: 43%;
    position: absolute;
    top: -150%;
    left: 60px;
  }

  .color {
    display: none;
    color: white;
    z-index: 999999 !important;
  }

  .color .active {
    display: flex;
    color: white;
    z-index: 999999 !important;
  }

  body {
    background-image: url(images/svgFooter/iPhone\ 8\ Plus\ -\ 1.svg);
    background-size: cover;
    background-position: center;
    position: relative;

    background-repeat: no-repeat;
    overflow: hidden;
  }

  .header .subline__title {
    font-size: 40px;
    position: relative;
    top: 20px;
  }

  .not__grid {
    display: none;
  }

  .blur__grid {
    display: none;
  }

  .container__item {
    grid-template-columns: none;
  }

  #circle__blurP {
    width: 343px;
    height: 900px;
    margin-left: 0;
    background: none;
  }

  #circle__blurB {
    width: 892px;
    height: 900px;
    border-radius: 654px;
    background: linear-gradient(194deg, #00C2FF00, #17C8FFEF, #FF29C3);
    filter: blur(291px);
    top: -278px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #openbtn {
    display: flex;
    position: absolute;
    left: 3%;
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
  }

  .sidebar {
    display: flex;
  }

  .sidebar-mobile {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 100;
  }

  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    border: none;
    cursor: pointer;
  }

  .sidebar-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f0f0f0;
  }

  .sidebar-content ul {
    list-style: none;
    padding: 0;
  }

  .sidebar-content li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .sidebar-content li a {
    text-decoration: none;
    color: #000;
  }



  /* Carrossel */
  .txt__med {
    font-size: 25px;
  }

  .icons__fmk {
    width: 66px;
    height: 74px;
    position: relative;
    top: -80px;
  }

  .container__water {
    margin-top: -160px;
    grid-template-columns: 75% 93%;
    grid-gap: 1px;
  }

  .swiper {
    width: 90%;
    height: 115px;
  }

  .item__list {
    margin: 80px;
    grid-gap: 35px;
    margin-top: 41px;
  }

  .container__title {
    font-size: 17px;
    margin-top: 15px;
  }

  .container__box {
    border-radius: 25px;
    border: 2px solid;
    padding: 45px 10px 25px 10px;
    width: 100%;
  }

  .navigation__link {
    display: none;
  }

  .navbar__buttons {
    display: none;
  }

  .line__center .par__txt {
    font-size: 15px;
    margin: 44px;
    margin-top: -55px;
  }

  .logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .bn632-hover {
    width: 194px;
    height: 38px;
  }

}

@media screen and (max-width: 700px) {
  .par__txt {
    font-size: 8px;
  }

  .title__page {
    font-size: 31px;
  }

  h2 {
    font-size: 31px;
  }

  .swiper-button-next::after {
    font-size: 20px !important;
  }

  .swiper-button-prev::after {
    font-size: 20px !important;
  }

}

@media screen and (max-width: 500px) {
  body {
    background-image: url(images/svgFooter/iPhone\ 8\ Plus\ -\ 1.svg);
    background-size: cover;
  }
}